@define-color background {{colors.surface.default.hex}};
@define-color foreground {{colors.on_surface.default.hex}};
@define-color primary {{colors.primary.default.hex}};
@define-color secondary {{colors.secondary.default.hex}};
@define-color alert {{colors.error.default.hex}};
